#map {
      height: 350px;
      width: 100%;
      float: right;
    }
#modal-map{
  height:300px;
  width:100%;
}
#title {
  display: inline-block;
}

.add-new {
  float:right;
  margin-top: 15px;
}

.area {
  border-style: solid;
  padding: 10px;
  /* border-color: blue; */
}

.remove {
  float: right;
}